@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *::-webkit-scrollbar {
        background-color: transparent;
        width: 10px;
        height: 10px;
    }
    *::-webkit-scrollbar-track {
        background-color: transparent;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
    }
    *::-webkit-scrollbar-button {
        display: none;
    }
    *::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    /* For Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #babac0 transparent;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bubble-appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bubble-disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes background-grow {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 200%;
    }
}

@keyframes background-shrink {
    0% {
        background-size: 200%;
    }
    100% {
        background-size: 100%;
    }
}

@layer utilities {
    .shadow-hover {
        @apply relative before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:block before:rounded-xl before:bg-black before:opacity-0 before:transition-opacity hover:before:opacity-10;
    }

    .appear {
        opacity: 0;
        animation: fadeIn 0.2s ease-in-out forwards;
    }

    .bubble-appear {
        animation: bubble-appear 0.2s ease-in-out forwards;
    }

    .bubble-disappear {
        animation: bubble-disappear 0.15s ease-in-out forwards;
    }

    .bg-radial-gradient {
        background: rgb(241,245,249);
        background: radial-gradient(circle, rgba(229, 229, 229 ,1) 40%, rgba(229,229,229,0) 100%);
        background-position: center;
    }

    .bg-grow {
        animation: background-grow 0.3s ease-in-out forwards;
    }

    .bg-shrink {
        animation: background-shrink 0.3s ease-in-out forwards;
    }
}
